<div class="container search-bar">
  <form class="search" role="search" autocomplete="off" onsubmit="return false;">
    <label class="search-label">Группа / преподаватель / дисциплина</label>
    <div class="search-input-wrap">
      <input id="search-input" class="search-input" placeholder="Например: ПИ-101 или Иванов" />
      <button id="search-clear" type="button" class="btn ghost" aria-label="Очистить">✕</button>
    </div>
    <div id="typeahead" class="typeahead" hidden></div>
  </form>
</div>
